html
  background: none

#header-nav
  background: none

#open-nav
  color: #333333


main
  position: relative
  height: 100vh
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 10px
  background: radial-gradient(ellipse at center,rgba(255,255,255,.5) 0%,rgba(255,255,255,0) 100%)
  background-color: #eeeeee
  transition: background-color 0.15s linear
  >div 
    position: relative
    width: 30%
    height: 100%
    display: inline-block


$boxsize: 300px
#preview-container
  width: 100%
  height: 100vh
  position: absolute
  top: 0
  left: 0
  #perspective
    width: 100%
    height: 100%
    position: relative
    display: flex
    justify-content: center
    align-items: center
    perspective: 1500px
  .box-wrapper
    width: $boxsize
    height: $boxsize
    position: relative
    top: 0
    left: 0
    transform-style: preserve-3d
    -webkit-transform-origin-z: -200px
    backface-visibility: hidden
    transition: all 0.85s cubic-bezier(0.175,0.885,0.320,1.275)

#front-anim
  transform: rotateX(-15deg) rotateY(15deg) !important
#left-anim
  transform: rotateX(-15deg) rotateY(90deg) !important
#right-anim
  transform: rotateX(-15deg) rotateY(-90deg) !important
#top-anim
  transform: rotateX(-90deg) !important
#bottom-anim
  transform: rotateX(90deg) !important
#back-anim
  transform: rotateY(180deg) !important
  
box
  display: block
  width: 100%
  height: 100%
  background-color: #ffffff
  position: absolute
  left: 0
  right: 0
  margin: 0 auto
  font-size: 62px
  text-align: center
  line-height: 5  
  overflow: hidden
  &:after
    width: 100%
    height: 100%
    position: absolute
    content: ''
    top: 0
    left: 0
    z-index: 0
    box-shadow: inset 0 0 60px -10px #333333
  img
    position: relative
    display: block
    
  &.back
    transform: rotateY(180deg) translateZ($boxsize*1.5)
  &.bottom
    height: $boxsize*1.5
    transform: rotateX(-90deg) translateZ($boxsize*.25) translateY($boxsize*.75)
  &.top
    height: $boxsize*1.5
    transform: rotateX(90deg) translateZ($boxsize*0.75) translateY(-$boxsize*0.75)
  &.left
    width: $boxsize*1.5    
    transform: rotateY(-90deg) translateZ($boxsize*0.75) translateX(-$boxsize*0.75)
  &.right
     width: $boxsize*1.5    
     transform: rotateY(90deg) translateZ($boxsize*.25) translateX($boxsize*0.75)


.menu-btn
  width: 70px
  height: 35px
  position: absolute
  top: 200px
  background: none
  border: none
  background-color: #fefefe
  border: 1px solid #e1e1e1
  border-radius: 3px
  cursor: pointer
  z-index: 100
  outline: none
  &:hover
    color: #333333
#open-left
  left: 20px
#open-right
  right: 20px
  
.menu-container
  width: 100%
  max-width: 350px
  height: 100%
  max-height: 500px
  position: absolute
  z-index: 32
  background-color: rgba(255,255,255,1)
  border-radius: 5px
  overflow: hidden
  box-shadow: 0px 5px 20px -10px #333333, inset 0px 0px 7px -2px #333333
  
#left-container
  left: -100%
  &.left-slide
    left: 10px
#right-container
  right: -100%
  &.right-slide
    right: 10px
  
.face-option
  width: 20%
  height: 100%
  position: absolute
  left: 0
  border-right: 1px solid #cccccc
  padding: 0 5px
  h2
    font-size: 16px
    text-align: center
    letter-spacing: 1px
    position: absolute
    width: 100%
    top: 10px
    left: 0
  ul
    width: 100%
    height: 100%
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    list-style-type: none
    li
      border: 1px solid #a1a1a1
      border-left: none
      border-right: none
      width: 100%
      margin: 5px 0
      height: 12%
      text-transform: uppercase
      color: #555555
      text-align: center
      font-size: 14px
      font-weight: 700
      line-height: 4
      cursor: pointer
      transition: all 0.2s ease-in-out
      &:hover
        background-color: #555555
        color: #eeeeee
      &.active
        background-color: #555555
        color: #eeeeee

.add-art, .add-text, .fill-background, .preview
  position: absolute
  width: 80%
  height: 12%
  top: 0
  right: 0
  border-bottom: 1px solid #cccccc
.upload-art,#new-text, #colorpick
  width: 200px
  height: 40px
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto
  border: none
  background-color: #555555
  letter-spacing: 1px 
  color: #eeeeee
  font-weight: 800
  font-size: 12px
  transition: all 0.3s ease-in-out
  border-radius: 4px
  box-shadow: 0px 0px 15px -3px #333333
  outline: none
  &:hover
    background-color: #FE6158
    color: #000000
#new-art
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  opacity: 0
  cursor: pointer

    
.add-text
  top: 12%
  #new-text
    cursor: pointer
    &:hover
      background-color: #FEBB13

.fill-background
  top: 24%
  height: 20%
  span
    display: block
    text-align: center
    margin-top: 5px
    font-weight: 600


#colorpick
  padding: 5px 10px
  cursor: crosshair
  &:hover
    background-color: #ffffff

.preview
  height: 48%
  top: 44%
  border-bottom: none
  .preview-window
    border: 0.8px solid #a1a1a1
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto
    transition: all 0.2s ease-in-out
    overflow: hidden

#front-size, #back-size
  width: 100%
  height: 100%
#left-size, #right-size
  width: 100%
  height: 70%
#top-size, #bottom-size
  width: 60%
  height: 100%

.remove-img
  width: 35px
  height: 40px
  position: absolute
  background: none
  border: none
  border: 1px solid #F96D6D
  background-color:#ff8c8c
  border-radius: 4px
  bottom: 10px
  right: 20px
  cursor: pointer
  opacity: 0.6
  i
    font-size: 26px
    color: #ffffff

.preview-img
  width: 100%
  height: 100%
  position: relative
  display: inline-block


.img-drag
  width: auto
  height: auto
  position: relative
  >div
    position: static
.ui-resizable-ghost 
  opacity: 0 !important

.ui-resizable-helper 
  border: 2px dashed #196CF6
  background-color: #eeeecc
  opacity: .5

.face-img
  width: 100%

.box-sizing
  width: 100%
  height: 50%
  position: relative
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 15px
  h2
    text-align: center
    top: 25px
    font-size: 20px 
    left: 0
    right: 0
    position: absolute
    color: #222222
  .boxz
    width: 100px
    height: 100px
    position: relative
    border: 1px dashed #a9a9a9
    background-size: auto 100%
    background-repeat: no-repeat
    background-position: center
    cursor: pointer
    &:hover 
      border: 2px solid #333333
      span
        color: #0F82FD
    span
      width: 100%
      text-align: center
      font-size: 16px
      font-weight: 700
      text-transform: uppercase
      position: absolute
      bottom: -20px

  .shipping
    background-image: url('../img/shipping-sm.png')
  .folding
    background-image: url('../img/folding-sm.png')
  .rigid
    background-image: url('../img/rigid-sm.png')

div.selected
  border: 2px solid #333333 !important

.box-pricing
  position: relative
  width: 90%
  height: 45%
  margin: 0 auto
  border-radius: 10px
  border: 1px solid #aaaaaa
  select, .untprice
    height: 40px
    width: 200px
    left: 30px 
    position: absolute
    background: none
    top: 50px
    font-size: 18px
    outline: none
    border: 1px solid #aaaaaa
    text-align-last: center
    border-radius: 10px
  #unit-price
    position: relative
  h2
    font-size: 14px
    font-weight: 400
    position: absolute
    top: 30px
  .untprice
    width: 50px
    padding: 8px
    background: none
    border-radius: 5px
    left: auto
    right: 25px
  .qty
    left: 93px
  .cost
    right: 15px
  .total-text
    text-align: center
    position: relative
    top: 150px
    font-size: 28px
    font-weight: 900
  .total
    color:  #0F82FD

#save-design
  position: absolute
  width: 150px
  height: 40px
  z-index: 5
  bottom: 30px
  background: none
  border: none
  cursor: pointer
  box-shadow: 0px 2px 15px -4px #333333
  border-radius: 5px
  color: #ffffff
  font-size: 16px
  font-weight: 600
  letter-spacing: 1px
  right: 30px
  background-color: #FEB713
  transition: all 0.15s linear
  &:hover
    transform: translateY(2px)
    box-shadow: none




#main-bg
  display: block
  position: absolute
  width: 98px  
  height: 46px
  bottom: 30px
  left: 20px
  border-radius: 8px
  background-color: #ffffff
  overflow: hidden
  padding: 5px 0
  box-shadow: 0px 0px 10px -3px #333333
  cursor: pointer
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out 0.1s
  &:hover
    height: 120px
    width: 220px
  .selected-main-bg
    position: relative
    margin: 0 auto
    width: 220px
    padding: 5px 10px
    height: 42px
    display: flex
    align-items: center
    justify-content: space-between
    font-weight: 700
    white-space: nowrap
    border-bottom: 1px solid #cccccc
    .buck-icon
      width: 30px
      display: inline-block
      margin: 0 5px
    .copybg
      display: inline-block
      width: 30px
      height: 30px
      margin: 0 5px
      background-color: #eeeeee
      border-radius: 50%
  .main-bgs
    position: relative
    width: 220px
    height: 70px
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    padding: 0 15px
    > div
      width: 30px
      height: 30px
      border-radius: 50%
    .main-gray
      background-color: #eeeeee
    .main-blue
      background-color: #0086fc
    .main-red
      background-color: #F05D4E
    .main-dark
      background-color: #333333
    .main-yellow
      background-color: #FFB800
  
.name-popup
  position: absolute
  max-width: 380px
  min-width: 300px
  display: none
  height: 300px
  text-align: center
  right: 5px
  bottom: 80px
  padding: 30px 0
  background-color: #ffffff
  box-shadow: 0px 5px 15px -5px #333333
  z-index: 200
  input
    width: 85%
    padding: 10px 30px
    margin: 60px 0 30px 0
  button
    background: none
    border: none
    background-color: #0F82FD
    font-size: 14px
    font-weight: 600
    letter-spacing: 1px
    color: #ffffff
    padding: 8px 40px
    margin-top: 30px
    cursor: pointer
    border-radius: 20px
    box-shadow: 0px 0px 10px -3px #000000
  #close-name
    position: absolute
    display: block
    top: 2px
    left: 5px
    font-weight: 600
    cursor: pointer