burger
  position: fixed
  display: block
  font-size: 32px
  right: 0
  top: 0
  z-index: 200
  color: #eeeeee
  cursor: pointer
  i
    position: absolute
    right: 20px
    top: 5px
  #close-nav
    color: #333333  
    opacity: 0
  #open-nav
    width: 30px
    height: 15px
    border-bottom: 3px solid #333333
    &:after
      width: 100%
      height: 100%
      content: ''
      position: absolute
      border-bottom: 3px solid #333333
      bottom: -120%



header
  width: 100%
  height: 110px
  position: fixed
  top: 0
  left: 0
  display: flex
  align-items: center
  z-index: 99

.logo
  position: absolute
  width: 180px
  margin-left: 30px
  top: 8px
  z-index: 101
  svg 
    width: 100%

#header-nav
  width: 0%
  height: 100vh
  position: absolute
  display: flex
  align-items: center
  justify-content: flex-end
  top: 0
  right: 0
  z-index: 99
  background-color: #ffffff
  overflow: hidden
  white-space: nowrap
  transition: width 0.3s ease-in-out 0.4s
  &.open-nav
    width: 100%
  ul
    list-style-type: none
    display: inline-block
    text-align: center //delete in desktop
    width: 100% // delete in desktop
    li
      font-size: 16px
      display: block //inline-block desktop
      margin: 30px 0 // 0 20px deskto
      padding: 0 10px
      font-weight: 500
      letter-spacing: 1px
    a
      color: #0F82FD

.cart
    transform: translateY(10px)


main
  position: relative
  width: 100%
  overflow: hidden

#boxes  
  width: 100% // max-width: 1200px -- Desktop
  height: auto // min-height: 200vh
  position: relative
  margin: 0 auto
  margin-bottom: 200px // margin-bottom: 500px -- Desktop
.box-container
  width: 100%
  height: auto
  position: relative// position: fixed -- Desktop
  top: 110px
  left: 0
  right: 0
  margin: 0 auto
  > div
    position: relative // position: absolute - Desktop
    width: 100% // width: 350px - Desktop
    img
      width: 150px
      display: block
      margin: 0 auto


.text-container
  height: 100vh
  width: 100%// max-width: 800px == Desktop
  position: relative // position: absolute == Desktop
  top: 0
  right: 0
  z-index: 5
  .text-wrapper
    width: 100%
    height: 500px
    position: absolute
    display: flex
    align-items: center
    align-content: center
    justify-content: center
    flex-wrap: wrap
    right: 0
    top: 50%
    transform: translateY(-50%)
    h1
      font-size: 8vh
      color: #ffffff
      text-align: center
    p
      font-size: 16px // font-size: 2.2vh == Desktop
      color: #eeeeee
      text-align: center
  
.box-type
  position: relative
  width: 100%
  height: 300px
  color: #ffffff
  // opacity: 0 == Desktop
  opacity: 1
  transition: opacity 0.3s ease-in-out
  &:hover .box-name
    color: #333333
  .box-name
    font-family: 'Raleway', sans-serif
    font-weight: 900
    font-size: 28px
    letter-spacing: 1px
    text-align: center
    transition:  color 0.3s linear
  .box-description
    padding: 10px 30px
    margin-bottom: 10px
    letter-spacing: 1px
    text-align: justify

.customize-it
  margin: 0 auto
  display: block
  padding: 10px 30px
  background: none
  border: none
  background-color: #569DEC
  color: #ffffff
  font-weight: 800
  font-size: 18px
  border-radius: 25px
  box-shadow: 0px 5px 20px -5px #333333
  cursor: pointer
  transition: all 0.3s ease-in-out
  &:hover
    box-shadow: none
    transform: translateY(5px)
  
.bar
  position: absolute
  width: 12%
  height: 37%
  z-index: 1
  display: none // display: initial  = Desktop
  svg
    position: absolute
    top: 0
  .stripes
    left: 20px
    top: 20px

.pink-bar
  left: -5vh
  top: 10%
  transform: rotate(-30deg)

.yellow-bar
  top: -22%
  left: 20vh

.orange-bar
  bottom: -15%
  left: 10vh
  transform: rotate(35deg)

.green-bar
  bottom: -15%
  right: 10vh
  transform: rotate(-5deg)
  .stripes
    left: -20px

.blue-bar
  top: 10%
  right: -5vh
  transform: rotate(60deg)
  .stripes
    left: -20px

#how-to
  position: relative
  width: 100%
  height: auto // height: 150vh === Desktop
  padding-top: 10vh
  background: white
  border-radius: 30px 30px 0 0 // border-radius: 55% 55% 0 0 == Desktop
  display: flex
  justify-content: center
  align-items: center
  align-content: center
  flex-direction: column
  margin-top: 100px
  color: #333333

.how
  font-size: 32px
  color: orangered

.step
  max-width: 900px
  height: auto // height: 400px === Desktop
  margin-top: 60px
  position: relative
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  opacity: 0
  .step-number
    font-size: 50px // font-size: 84px == Desktop
    font-weight: 800
    position: absolute
    top: -45px
    left: 0 // left: -25px == Desktop
    color: #0F82FD
  .step-two
    left: auto
    right: 0 // right: -25px == Desktop
   
  .step-description
    width: 100% // width: 50% === Desktop
    height: 300px // height: 80% == Desktop
    margin: 0 // margin: 20px == Desktop
    background-color: #ffffff
    padding: 20px 35px // padding: 20px == Desktop
    border-radius: 15px
    display: flex
    flex-direction: column
    justify-content: center
    h2
      font-size: 35px
      letter-spacing: 2px
      margin-botton: 20px
      color: #0F82FD
  > img
    border-radius: 0 // border-radius: 50px ==Desktop
    width: 100% // width: 50% == Desktop
    box-shadow: 0px 3px 15px -4px #333333
  span > img
    display: none // display: initial == Desktop
  .step-one-icon
    width: 200px
    left: 100px
    top: 150px    
    position: absolute
  .bucket-icon
    position: absolute
    right: 0
    top: 20px
  .paint-icon
    position: absolute
    width: 250px
    right: 200px
    bottom: 50px
.how-second
  flex-direction: column-reverse //flex-direction: row == Desktop

#register
  width: 100%
  min-height: 50vh
  position: relative
  background-color: #eeeeee
  border-radius: 0 0 30px 30px
  min-height: 50vh
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  margin-bottom: 10vh
  padding: 20px 0  
  z-index: 10
  form
    margin: 20px 0
  button
    margin: 20px 0
    height: 50px
    width: 300px
    position: relative
    font-size: 18px
    background: none
    border: none
    border-radius: 5px
    cursor: pointer
    border-width: 2px
    border-style: solid
    letter-spacing: 1px
    z-index: 1
    &:after
      content: ''
      position: absolute
      width: 0
      height: 100%
      top: 0
      left: 0
      z-index: -1      
      transition: all 0.3s ease-in-out    
    &:hover
      color: #ffffff  
    &:hover:after
      width: 100%
  .fb-btn
    border-color: #0F82FD
    color: #0F82FD
    &:after
      background-color: #0F82FD
  .log-in
    border-color: orangered
    color: orangered
    &:after
      background-color: orangered
  .sign-up
    border-color: #DB0C8A
    color: #DB0C8A
    &:after
      background-color: #DB0C8A 

  input
    font-size: 16px
    padding: 10px 30px
    max-width: 350px
    margin: 15px 30px
    background: none
    border: none
    border: 2px solid transparent
    border-bottom: 2px solid #DB0C8A
    display: block
    transition: all 0.3s linear
    &:focus
      outline: none
      border: 2px solid #DB0C8A
      background-color: #ffffff
      box-shadow: 0px 5px 30px -10px #000000
    &::-webkit-input-placeholder
      color: #DB0C8A
      letter-spacing: 1px
  input[type='submit']
    display: block
    margin: 0 auto
    margin-top: 30px
    border: 2px solid #DB0C8A
    color: #ffffff
    font-weight: 900
    letter-spacing: 2px
    background-color:  #DB0C8A
    cursor: pointer
    box-shadow: 0px 5px 30px -10px #333333
    transition: all 0.2s ease-in-out
    &:hover
      box-shadow: none
      transform: translateY(5px)


.go-to-app
  margin: 20px 0
  height: 50px
  width: 300px
  position: relative
  font-size: 18px
  background: none
  border: none
  border-radius: 5px
  cursor: pointer
  border-width: 2px
  border-style: solid
  letter-spacing: 1px
  z-index: 1
  background-color: #000000 !important
  color: #eeeeee
  transition: all 0.25s ease-in-out
  &:hover
    color: #000000 !important
    background-color: #eeeeee  !important   
      
      

.robot
  position: absolute
  width: 30%
  height: 300px
  left: 0
  right: 0
  margin: 0 auto
  display: none // display: flex == desktop
  align-items: flex-start
  justify-content: center
  perspective: 1000px
  .group-face
    width: 150px
    height: 150px
    position: relative
    transform-style: preserve-3d
    -webkit-transform-origin-z: -75px
    
div.face
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  opacity: 0.8
div.front
  background-color: #FDA31B
div.left
  transform: rotateY(-90deg) translateX(-50%) translateZ(75px) 
  background-color:  #15BFFB
div.right
  transform: rotateY(90deg) translateX(50%) translateZ(75px)
  background-color: #FE2494
div.back
  transform: rotateY(180deg) translateZ(150px)
  background-color: #F4FC4D


footer
  width: 100%
  min-height: 50vh
  position: relative
  display: flex
  align-items: center
  flex-direction: column // flex-direction: row == Desktop
  justify-content: space-between
  padding: 0 // padding: 0 30px == desktop
  flex-wrap: wrap
  span
    position: absolute
    display: block
    left: 0
    right: 0
    text-align: center
    bottom: 10px

.footer-address
  width: 100% // width: 30% == Desktop
  min-height: 300px
  background-color: #eeeeee
  padding: 20px
  position: relative
  border-radius: 0 // border-radius: 10px == desktop
  svg
    display: block
    width: 200px
    margin: 0 auto
  h2,p
    width: 100% // width: 300px == desktop
    margin-top: 30px
  p
    line-height: 1.5

 
.social-media
  width: 100% // width: 30% == desktop
  height: 300px
  background-color: #eeeeee
  position: relative
  padding: 50px
  border-radius: 0   // border-radius: 10px == desktop
  text-align: center
  ul
    list-style-type: none
    margin: 20px 0
    li
      display: inline-block
      margin: 0
      font-size: 34px
      padding: 10px 15px
      border-radius: 50%
      cursor: pointer
      transition: all 0.3s ease-in-out
      a
        color: #0F82FD
      &:hover a
        color: #ffffff
      &:hover
        background-color: #0F82FD
.footer-nav
  width: 100% // max-width: 800px == desktop
  position: relative // position: absolute == desktop
  bottom: 96px
  padding: 10px 0
  left: 0
  right: 0
  margin: 0 auto
  background-color: #eeeeee
  border-radius: 10px
  z-index: 1
  ul
    list-style-type: none
    text-align: center
    li
      display: block // display: inline-block == desktop
      margin: 15px auto // margin: 0 30px == desktop

/*** End of CSS Mobile Version */