html
  background-color: #f6f6f6

#header-nav
  background: none

main
  width: 100%
  min-height: 100vh
  position: relative
  margin-top: 100px

#profile-nav
  width: 100%
  height: 100px
  position: relative
  ul
    position: relaitve
    height: 100%
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    list-style-type: none

    li
      font-size: 16px
      letter-spacing: 2px
      font-weight: 800
      display: inline-block
      width: 250px
      margin: 0 20px
      height: 40px
      border-radius: 20px
      background-color: #ffffff
      box-shadow: 0px 0px 15px -6px #333333
      cursor: pointer
      text-align: center
      transition: background-color 0.3s linear
      z-index: 100
      a
        display: block
        color: #000000
        height: 100%
        padding: 10px 0
      &:hover
        background-color: #FFB800
        color: #ffffff

.star
  color: #F05D4E

.selected
  background-color: #FFB800 !important
  color: #ffffff

// accounts page
#main-view
  max-width: 1280px
  min-height: 100vh
  padding: 0 20px
  margin: 0 auto
  position: relative
  form
    width: 100%
    position: relative
    input
      margin: 5px 0 15px 0
      display: block
      width: 100%
      padding: 10px 10px
      border: none
      border-radius: 10px
      background-color: #ffffff
      font-size: 16px
      font-family: 'Raleway',sans-serif
      letter-spacing: 1.5px
      color: #333333
      outline: none
    .contact-h2
      font-size: 24px
      text-transform: uppercase
      font-weight: 500
      margin: 50px 0 20px 0
    #update
      position: absolute
      background: none
      border: none
      background-color: #0F82FD
      color: #ffffff
      cursor: pointer
      width: 125px
      padding: 10px
      font-weight: 600
      right: 0
      margin-top: 20px
      border-radius: 15px
      box-shadow: 0px 2px 10px -4px #333333

//saved boxes page
#mybox-container
  width: 100%
  position: relative
  display: flex
  flex-wrap: wrap
  align-content: center
  justify-content: center
  background-color: #ffffff
  border-radius: 15px

  .show-box
    position: relative
    width: 350px
    height: 330px
    margin: 20px
    border-radius: 10px
    padding: 15px
    box-shadow: inset 0px 0px 35px -2px #333333, 0px 3px 15px -4px #333333
    &:hover .buttons
      opacity: 0.95
    img
      position: relative
      width: 60%
      top: 50%
      transform: translateY(-50%)
      border-radius: 50%
      display: block
      margin: 0 auto
    .boxname
      position: absolute
      width: 100%
      top: 15px
      left: 0
      text-align: right
      font-family: 'Raleway', sans-serif
      padding-right: 15px
      font-weight: 900
      text-transform: uppercase
      letter-spacing: 3px
      z-index: 4
      color: #0086fc
    .buttons
      width: 100%
      height: 100%
      position: absolute
      border-radius: 10px
      top: 0
      left: 0
      background-color: #ffffff
      opacity: 0
      padding: 20px
      padding-top: 0
      z-index: 3
      transition: opacity 0.43s ease-in-out
      .box-info
        display: block
        font-size: 28px
        text-align: left
        margin-top: 10px
        color: #0086fc
        font-weight: 800
        &:first-child
          margin-top: 15px
        span
          font-size: 20px
          font-weight: 400
          color: #000000
        .boxtype
          font-weight: 800
          font-size: 18px
          letter-spacing: 1px
      .box-btn
        width: 130px
        padding: 5px
        margin: 15px 0 
        display: block
        border: none
        background: none
        cursor: pointer
        font-weight: 800
        border-radius: 10px
        box-shadow: 0px 2px 10px -3px #333333
        letter-spacing: 1px
      #customize
        background-color: #7CFF67
        color: #000000
      #delete
        background-color: #F05D4E
.fixed-btn
  position: fixed 
  width: 120px
  height: 120px
  top: 250px
  right: -40px  
  border-radius: 50%
  padding: 20px
  padding-right: 30px
  border: none
  background: none
  background-color: #0086fc
  text-align: left
  color: #ffffff
  font-weight: 600
  font-size: 18px
  cursor: pointer
  z-index: 4
  opacity: 0.8
  transition: color 0.3s ease-in-out
  &:hover
    animation: big 0.4s linear forwards
    

// show anim no box for (no saved box)
$boxsize: 220px
#no-box
  position: absolute
  width: 100%
  min-height: 100vh
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  font-size: 28px  
  perspective: 800px
  
  .wrap
    position: relative
    width: $boxsize
    height: $boxsize
    transform-style: preserve-3d
    -webkit-transform-origin-z: -$boxsize*.75
    animation: nobox 0.5s ease-in-out forwards
  .side
    width: 100%
    height: 100%
    background-color: #c97e1c
    position: absolute
    left: 0
    right: 0
    margin: 0 auto
    font-size: 62px
    text-align: center
    line-height: 5  
    overflow: hidden
    &:after
      width: 100%
      height: 100%
      position: absolute
      content: ''
      top: 0
      left: 0
      z-index: 0
      box-shadow: inset 0 0 60px -10px #333333
      
    &.four
      transform: rotateY(180deg) translateZ($boxsize*1.5)
    &.six
      height: $boxsize*1.5
      transform: rotateX(-90deg) translateZ($boxsize*.25) translateY($boxsize*.75)
      box-shadow: -10px -10px 20px -5px #333333
    &.five
      height: $boxsize*1.5
      transform-origin: top right
      transform: rotateX(90deg)  translateY(-100%) //rotateY(200deg)
      animation: openbox 0.55s linear forwards 0.55s
    &.two
      width: $boxsize*1.5    
      transform: rotateY(-90deg) translateZ($boxsize*0.75) translateX(-$boxsize*0.75)
    &.three
      width: $boxsize*1.5    
      transform: rotateY(90deg) translateZ($boxsize*.25) translateX($boxsize*0.75)

.gold
  background-color: #F3C61F
  width: 40px
  height: 25px
  position: absolute
  border-radius: 0px 0px 10px 10px
  top: 0
  right: 0
  left: 0
  margin: 0 auto

.nobox-text
  position: absolute
  white-space: nowrap
  display: block
 
  color: #000000
  font-size: 24px
  opacity: 0
  letter-spacing: 1px
  animation: showmessage 0.35s linear forwards
  animation-delay: 0.6s
.go-to-app
  position: relative
  margin-top: 120px

// Cart Page
#cart-container
  width: 100%
  min-height: 100vh
  position: relative
  .cart-item
    width: 100%
    min-height: 250px
    padding: 15px 0
    position: relative
    background-color: #ffffff
    margin-bottom: 30px
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    align-items: center
    .details
      text-align: right
      width: 500px
      height: 250px
      position: relative
      display: flex
      justify-content: space-between
      align-items: center
      padding: 0 40px
      > div
        font-weight: 400
        width: 100px
        height: 90px
        position: relative
        font-size: 16px
        text-align: center
        font-weight: 600
        > span
          position: absolute
          display: block
          margin-top: 10px
          left: 0
          right: 0
          font-size: 24px
          font-weight: 600
          color: #0086fc
    .box_num
      position: absolute
      font-size: 50px
      font-weight: 800
      color:  #0086fc
      left: -10px
      top: -20px
      text-shadow: 3px 5px 10px  #aaaaaa
      z-index: 1


  .checkout
    display: block
    position: absolute
    bottom: 0
    right: 50px
    margin: 0 auto
    width: 200px
    background: none
    border: none
    padding: 10px 0
    font-size: 18px
    font-weight: 700
    color: #ffffff
    text-transform: uppercase
    background-color: #0086fc
    border-radius: 5px
    box-shadow: 0px 2px 10px -4px #333333
    cursor: pointer

.input-total
  display: none !important




// ** box preview in cart page **//
$boxsize: 100px
#perspective
  width: 200px
  height: 200px
  position: relative
  background-color: #efefef
  border-radius: 10px
  perspective: 500px
  box-shadow: 0px 2px 15px -4px #333333
  
.box-wrapper
  width: $boxsize
  height: $boxsize
  position: relative
  margin-top: 20px
  margin-left: 80px
  transform-style: preserve-3d
  -webkit-transform-origin-z: -200px
  backface-visibility: hidden
  transform: rotateX(-15deg) rotateY(-15deg)

  
box
  display: block
  width: 100%
  height: 100%
  background-color: #ffffff
  position: absolute
  left: 0
  right: 0
  margin: 0 auto
  font-size: 62px
  text-align: center
  line-height: 5  
  overflow: hidden
  &:after
    width: 100%
    height: 100%
    position: absolute
    content: ''
    top: 0
    left: 0
    z-index: 0
    box-shadow: inset 0 0 60px -10px #333333
  img
    position: relative
    display: block
    
  &.back
    transform: rotateY(180deg) translateZ($boxsize*1.5)
  &.bottom
    height: $boxsize*1.5
    transform: rotateX(-90deg) translateZ($boxsize*.25) translateY($boxsize*.75)
  &.top
    height: $boxsize*1.5
    transform: rotateX(90deg) translateZ($boxsize*0.75) translateY(-$boxsize*0.75)
  &.left
    width: $boxsize*1.5    
    transform: rotateY(-90deg) translateZ($boxsize*0.75) translateX(-$boxsize*0.75)
  &.right
     width: $boxsize*1.5    
     transform: rotateY(90deg) translateZ($boxsize*.25) translateX($boxsize*0.75)


//order page
#order-container
  width: 100%
  position: relative
  background-color: #ffffff
  display: flex
  justify-content: center
  flex-wrap: wrap
  .order-item
    width: 300px
    height: 300px
    position: relative
    background-color: #ffffff
    box-shadow: 0px 5px 20px -8px #333333
    border-radius: 4px
    margin: 20px
    display: inline-flex
    flex-direction: column
    padding-top: 50px
    justify-content: space-between

    // display: flex
    > div
      order: 0
      padding: 0 20px
      span
        float: right
        width: 50%
    .order-number
      font-size: 32px
      position: absolute
      font-weight: 800
      color: #0086fc
      top: -10px
      left: -15px
      text-shadow: 2px 2px 15px #aaaaaa
    .order-summary
      border: none
      background: none
      cursor: pointer
      padding: 7px 0
      font-weight: 800
      text-transform: uppercase
      order: 2
      outline: none
      width: 50%
    .delete-order
      border: none
      background: none
      background-color: red
      position: absolute
      width: 27px
      font-size: 20px
      top: 0 
      right: 0
      color: #ffffff
      letter-spacing: 1px
      font-weight: 600
      cursor: pointer
      outline: none
    .order-total
      order: 1
    .order-status
      order: 1
      span
        padding: 3px 10px
        color: #ffffff
        font-weight: 600
  #summary-container
    position: absolute
    width: 400px
    top: 50%   
    z-index: 5
    box-shadow: 0px 2px 20px -8px #000000 
    .box-summary
      background-color: #ffffff
      padding: 20px
      div
        margin: 15px 0
      span
        font-weight: 600
      ul
        list-style-type: none
        li
          padding-left: 15px
      .close-summary
        position: absolute
        top: 0 
        right: 0
        border: none
        background: none
        padding: 4px 15px
        font-size: 14px
        font-weight: 600
        background-color: #ffffff
        text-transform: uppercase
        cursor: pointer
.deliver
  border: none
  background: none
  background-color: #7bb501 
  position: absolute
  padding: 7px 0
  width: 50%
  bottom: 0 
  right: 0
  color: #ffffff
  letter-spacing: 1px
  font-weight: 800
  cursor: pointer
  outline: none

#user-container
  width: 100%
  position: relative
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-content: space-between
  .user-item
    width: 300px
    height: 150px
    box-shadow: 0px 3px 15px -3px #333333
    position: relative
    margin: 20px
    padding: 20px
    span
      font-weight: 700
    .status
      background: none
      border: none
      margin: 0 auto
      width: 150px
      padding: 5px 0
      display: block
      margin-top: 20px
      color: #ffffff
      font-weight: 700
      font-size: 16px
      letter-spacing: 1.5px
      border-radius: 20px
      box-shadow: 0px 0px 15px -3px #333333
      cursor: pointer
    


//****** KEYFRAMES FOR PROFILE PAGE*****// 
@keyframes nobox
  0%
    transform: none
  100%
    transform: rotateX(-30deg) rotateY(95deg)

@keyframes openbox
  from
    transform: rotateX(90deg) translateY(-100%) rotateY(0deg)
  to
    transform: rotateX(90deg) translateY(-100%) rotateY(200deg)

@keyframes showmessage
  from
    opacity: 0
    transform: translateY(0) scale(0.2)
  to
    opacity: 1
    transform: translateY(-250px) scale(1)

@keyframes big
  15%
    transform: scale(0.7)
  35%
    transform: scale(0.7)
  70%
    transform: scale(1.8)
  100%
    transform: scale(1.8)
