burger {
  position: fixed;
  display: block;
  font-size: 32px;
  right: 0;
  top: 0;
  z-index: 200;
  color: #eeeeee;
  cursor: pointer;
}

burger i {
  position: absolute;
  right: 20px;
  top: 5px;
}

burger #close-nav {
  color: #333333;
  opacity: 0;
}

burger #open-nav {
  width: 30px;
  height: 15px;
  border-bottom: 3px solid #333333;
}

burger #open-nav:after {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  border-bottom: 3px solid #333333;
  bottom: -120%;
}

header {
  width: 100%;
  height: 110px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 99;
}

.logo {
  position: absolute;
  width: 180px;
  margin-left: 30px;
  top: 8px;
  z-index: 101;
}

.logo svg {
  width: 100%;
}

#header-nav {
  width: 0%;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  right: 0;
  z-index: 99;
  background-color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.3s ease-in-out 0.4s;
}

#header-nav.open-nav {
  width: 100%;
}

#header-nav ul {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  width: 100%;
}

#header-nav ul li {
  font-size: 16px;
  display: block;
  margin: 30px 0;
  padding: 0 10px;
  font-weight: 500;
  letter-spacing: 1px;
}

#header-nav ul a {
  color: #0F82FD;
}

.cart {
  transform: translateY(10px);
}

main {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#boxes {
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto;
  margin-bottom: 200px;
}

.box-container {
  width: 100%;
  height: auto;
  position: relative;
  top: 110px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.box-container > div {
  position: relative;
  width: 100%;
}

.box-container > div img {
  width: 150px;
  display: block;
  margin: 0 auto;
}

.text-container {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
  z-index: 5;
}

.text-container .text-wrapper {
  width: 100%;
  height: 500px;
  position: absolute;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.text-container .text-wrapper h1 {
  font-size: 8vh;
  color: #ffffff;
  text-align: center;
}

.text-container .text-wrapper p {
  font-size: 16px;
  color: #eeeeee;
  text-align: center;
}

.box-type {
  position: relative;
  width: 100%;
  height: 300px;
  color: #ffffff;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.box-type:hover .box-name {
  color: #333333;
}

.box-type .box-name {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 28px;
  letter-spacing: 1px;
  text-align: center;
  transition: color 0.3s linear;
}

.box-type .box-description {
  padding: 10px 30px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-align: justify;
}

.customize-it {
  margin: 0 auto;
  display: block;
  padding: 10px 30px;
  background: none;
  border: none;
  background-color: #569DEC;
  color: #ffffff;
  font-weight: 800;
  font-size: 18px;
  border-radius: 25px;
  box-shadow: 0px 5px 20px -5px #333333;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.customize-it:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.bar {
  position: absolute;
  width: 12%;
  height: 37%;
  z-index: 1;
  display: none;
}

.bar svg {
  position: absolute;
  top: 0;
}

.bar .stripes {
  left: 20px;
  top: 20px;
}

.pink-bar {
  left: -5vh;
  top: 10%;
  transform: rotate(-30deg);
}

.yellow-bar {
  top: -22%;
  left: 20vh;
}

.orange-bar {
  bottom: -15%;
  left: 10vh;
  transform: rotate(35deg);
}

.green-bar {
  bottom: -15%;
  right: 10vh;
  transform: rotate(-5deg);
}

.green-bar .stripes {
  left: -20px;
}

.blue-bar {
  top: 10%;
  right: -5vh;
  transform: rotate(60deg);
}

.blue-bar .stripes {
  left: -20px;
}

#how-to {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 10vh;
  background: white;
  border-radius: 30px 30px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-top: 100px;
  color: #333333;
}

.how {
  font-size: 32px;
  color: orangered;
}

.step {
  max-width: 900px;
  height: auto;
  margin-top: 60px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.step .step-number {
  font-size: 50px;
  font-weight: 800;
  position: absolute;
  top: -45px;
  left: 0;
  color: #0F82FD;
}

.step .step-two {
  left: auto;
  right: 0;
}

.step .step-description {
  width: 100%;
  height: 300px;
  margin: 0;
  background-color: #ffffff;
  padding: 20px 35px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step .step-description h2 {
  font-size: 35px;
  letter-spacing: 2px;
  margin-botton: 20px;
  color: #0F82FD;
}

.step > img {
  border-radius: 0;
  width: 100%;
  box-shadow: 0px 3px 15px -4px #333333;
}

.step span > img {
  display: none;
}

.step .step-one-icon {
  width: 200px;
  left: 100px;
  top: 150px;
  position: absolute;
}

.step .bucket-icon {
  position: absolute;
  right: 0;
  top: 20px;
}

.step .paint-icon {
  position: absolute;
  width: 250px;
  right: 200px;
  bottom: 50px;
}

.how-second {
  flex-direction: column-reverse;
}

#register {
  width: 100%;
  min-height: 50vh;
  position: relative;
  background-color: #eeeeee;
  border-radius: 0 0 30px 30px;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
  padding: 20px 0;
  z-index: 10;
}

#register form {
  margin: 20px 0;
}

#register button {
  margin: 20px 0;
  height: 50px;
  width: 300px;
  position: relative;
  font-size: 18px;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  letter-spacing: 1px;
  z-index: 1;
}

#register button:after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

#register button:hover {
  color: #ffffff;
}

#register button:hover:after {
  width: 100%;
}

#register .fb-btn {
  border-color: #0F82FD;
  color: #0F82FD;
}

#register .fb-btn:after {
  background-color: #0F82FD;
}

#register .log-in {
  border-color: orangered;
  color: orangered;
}

#register .log-in:after {
  background-color: orangered;
}

#register .sign-up {
  border-color: #DB0C8A;
  color: #DB0C8A;
}

#register .sign-up:after {
  background-color: #DB0C8A;
}

#register input {
  font-size: 16px;
  padding: 10px 30px;
  max-width: 350px;
  margin: 15px 30px;
  background: none;
  border: none;
  border: 2px solid transparent;
  border-bottom: 2px solid #DB0C8A;
  display: block;
  transition: all 0.3s linear;
}

#register input:focus {
  outline: none;
  border: 2px solid #DB0C8A;
  background-color: #ffffff;
  box-shadow: 0px 5px 30px -10px #000000;
}

#register input::-webkit-input-placeholder {
  color: #DB0C8A;
  letter-spacing: 1px;
}

#register input[type='submit'] {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  border: 2px solid #DB0C8A;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 2px;
  background-color: #DB0C8A;
  cursor: pointer;
  box-shadow: 0px 5px 30px -10px #333333;
  transition: all 0.2s ease-in-out;
}

#register input[type='submit']:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.go-to-app {
  margin: 20px 0;
  height: 50px;
  width: 300px;
  position: relative;
  font-size: 18px;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  letter-spacing: 1px;
  z-index: 1;
  background-color: #000000 !important;
  color: #eeeeee;
  transition: all 0.25s ease-in-out;
}

.go-to-app:hover {
  color: #000000 !important;
  background-color: #eeeeee  !important;
}

.robot {
  position: absolute;
  width: 30%;
  height: 300px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: none;
  align-items: flex-start;
  justify-content: center;
  perspective: 1000px;
}

.robot .group-face {
  width: 150px;
  height: 150px;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-origin-z: -75px;
}

div.face {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

div.front {
  background-color: #FDA31B;
}

div.left {
  transform: rotateY(-90deg) translateX(-50%) translateZ(75px);
  background-color: #15BFFB;
}

div.right {
  transform: rotateY(90deg) translateX(50%) translateZ(75px);
  background-color: #FE2494;
}

div.back {
  transform: rotateY(180deg) translateZ(150px);
  background-color: #F4FC4D;
}

footer {
  width: 100%;
  min-height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  flex-wrap: wrap;
}

footer span {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 10px;
}

.footer-address {
  width: 100%;
  min-height: 300px;
  background-color: #eeeeee;
  padding: 20px;
  position: relative;
  border-radius: 0;
}

.footer-address svg {
  display: block;
  width: 200px;
  margin: 0 auto;
}

.footer-address h2, .footer-address p {
  width: 100%;
  margin-top: 30px;
}

.footer-address p {
  line-height: 1.5;
}

.social-media {
  width: 100%;
  height: 300px;
  background-color: #eeeeee;
  position: relative;
  padding: 50px;
  border-radius: 0;
  text-align: center;
}

.social-media ul {
  list-style-type: none;
  margin: 20px 0;
}

.social-media ul li {
  display: inline-block;
  margin: 0;
  font-size: 34px;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.social-media ul li a {
  color: #0F82FD;
}

.social-media ul li:hover a {
  color: #ffffff;
}

.social-media ul li:hover {
  background-color: #0F82FD;
}

.footer-nav {
  width: 100%;
  position: relative;
  bottom: 96px;
  padding: 10px 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #eeeeee;
  border-radius: 10px;
  z-index: 1;
}

.footer-nav ul {
  list-style-type: none;
  text-align: center;
}

.footer-nav ul li {
  display: block;
  margin: 15px auto;
}

/*** End of CSS Mobile Version */
