html {
  background-color: #f6f6f6;
}

#header-nav {
  background: none;
}

main {
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin-top: 100px;
}

#profile-nav {
  width: 100%;
  height: 100px;
  position: relative;
}

#profile-nav ul {
  position: relaitve;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

#profile-nav ul li {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 800;
  display: inline-block;
  width: 250px;
  margin: 0 20px;
  height: 40px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px -6px #333333;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s linear;
  z-index: 100;
}

#profile-nav ul li a {
  display: block;
  color: #000000;
  height: 100%;
  padding: 10px 0;
}

#profile-nav ul li:hover {
  background-color: #FFB800;
  color: #ffffff;
}

.star {
  color: #F05D4E;
}

.selected {
  background-color: #FFB800 !important;
  color: #ffffff;
}

#main-view {
  max-width: 1280px;
  min-height: 100vh;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

#main-view form {
  width: 100%;
  position: relative;
}

#main-view form input {
  margin: 5px 0 15px 0;
  display: block;
  width: 100%;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 16px;
  font-family: 'Raleway',sans-serif;
  letter-spacing: 1.5px;
  color: #333333;
  outline: none;
}

#main-view form .contact-h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 50px 0 20px 0;
}

#main-view form #update {
  position: absolute;
  background: none;
  border: none;
  background-color: #0F82FD;
  color: #ffffff;
  cursor: pointer;
  width: 125px;
  padding: 10px;
  font-weight: 600;
  right: 0;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0px 2px 10px -4px #333333;
}

#mybox-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 15px;
}

#mybox-container .show-box {
  position: relative;
  width: 350px;
  height: 330px;
  margin: 20px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: inset 0px 0px 35px -2px #333333, 0px 3px 15px -4px #333333;
}

#mybox-container .show-box:hover .buttons {
  opacity: 0.95;
}

#mybox-container .show-box img {
  position: relative;
  width: 60%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

#mybox-container .show-box .boxname {
  position: absolute;
  width: 100%;
  top: 15px;
  left: 0;
  text-align: right;
  font-family: 'Raleway', sans-serif;
  padding-right: 15px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
  z-index: 4;
  color: #0086fc;
}

#mybox-container .show-box .buttons {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  opacity: 0;
  padding: 20px;
  padding-top: 0;
  z-index: 3;
  transition: opacity 0.43s ease-in-out;
}

#mybox-container .show-box .buttons .box-info {
  display: block;
  font-size: 28px;
  text-align: left;
  margin-top: 10px;
  color: #0086fc;
  font-weight: 800;
}

#mybox-container .show-box .buttons .box-info:first-child {
  margin-top: 15px;
}

#mybox-container .show-box .buttons .box-info span {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

#mybox-container .show-box .buttons .box-info .boxtype {
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 1px;
}

#mybox-container .show-box .buttons .box-btn {
  width: 130px;
  padding: 5px;
  margin: 15px 0;
  display: block;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 800;
  border-radius: 10px;
  box-shadow: 0px 2px 10px -3px #333333;
  letter-spacing: 1px;
}

#mybox-container .show-box .buttons #customize {
  background-color: #7CFF67;
  color: #000000;
}

#mybox-container .show-box .buttons #delete {
  background-color: #F05D4E;
}

.fixed-btn {
  position: fixed;
  width: 120px;
  height: 120px;
  top: 250px;
  right: -40px;
  border-radius: 50%;
  padding: 20px;
  padding-right: 30px;
  border: none;
  background: none;
  background-color: #0086fc;
  text-align: left;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  z-index: 4;
  opacity: 0.8;
  transition: color 0.3s ease-in-out;
}

.fixed-btn:hover {
  animation: big 0.4s linear forwards;
}

#no-box {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 28px;
  perspective: 800px;
}

#no-box .wrap {
  position: relative;
  width: 220px;
  height: 220px;
  transform-style: preserve-3d;
  -webkit-transform-origin-z: -165px;
  animation: nobox 0.5s ease-in-out forwards;
}

#no-box .side {
  width: 100%;
  height: 100%;
  background-color: #c97e1c;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 62px;
  text-align: center;
  line-height: 5;
  overflow: hidden;
}

#no-box .side:after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  z-index: 0;
  box-shadow: inset 0 0 60px -10px #333333;
}

#no-box .side.four {
  transform: rotateY(180deg) translateZ(330px);
}

#no-box .side.six {
  height: 330px;
  transform: rotateX(-90deg) translateZ(55px) translateY(165px);
  box-shadow: -10px -10px 20px -5px #333333;
}

#no-box .side.five {
  height: 330px;
  transform-origin: top right;
  transform: rotateX(90deg) translateY(-100%);
  animation: openbox 0.55s linear forwards 0.55s;
}

#no-box .side.two {
  width: 330px;
  transform: rotateY(-90deg) translateZ(165px) translateX(-165px);
}

#no-box .side.three {
  width: 330px;
  transform: rotateY(90deg) translateZ(55px) translateX(165px);
}

.gold {
  background-color: #F3C61F;
  width: 40px;
  height: 25px;
  position: absolute;
  border-radius: 0px 0px 10px 10px;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.nobox-text {
  position: absolute;
  white-space: nowrap;
  display: block;
  color: #000000;
  font-size: 24px;
  opacity: 0;
  letter-spacing: 1px;
  animation: showmessage 0.35s linear forwards;
  animation-delay: 0.6s;
}

.go-to-app {
  position: relative;
  margin-top: 120px;
}

#cart-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#cart-container .cart-item {
  width: 100%;
  min-height: 250px;
  padding: 15px 0;
  position: relative;
  background-color: #ffffff;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#cart-container .cart-item .details {
  text-align: right;
  width: 500px;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

#cart-container .cart-item .details > div {
  font-weight: 400;
  width: 100px;
  height: 90px;
  position: relative;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}

#cart-container .cart-item .details > div > span {
  position: absolute;
  display: block;
  margin-top: 10px;
  left: 0;
  right: 0;
  font-size: 24px;
  font-weight: 600;
  color: #0086fc;
}

#cart-container .cart-item .box_num {
  position: absolute;
  font-size: 50px;
  font-weight: 800;
  color: #0086fc;
  left: -10px;
  top: -20px;
  text-shadow: 3px 5px 10px  #aaaaaa;
  z-index: 1;
}

#cart-container .checkout {
  display: block;
  position: absolute;
  bottom: 0;
  right: 50px;
  margin: 0 auto;
  width: 200px;
  background: none;
  border: none;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #0086fc;
  border-radius: 5px;
  box-shadow: 0px 2px 10px -4px #333333;
  cursor: pointer;
}

.input-total {
  display: none !important;
}

#perspective {
  width: 200px;
  height: 200px;
  position: relative;
  background-color: #efefef;
  border-radius: 10px;
  perspective: 500px;
  box-shadow: 0px 2px 15px -4px #333333;
}

.box-wrapper {
  width: 100px;
  height: 100px;
  position: relative;
  margin-top: 20px;
  margin-left: 80px;
  transform-style: preserve-3d;
  -webkit-transform-origin-z: -200px;
  backface-visibility: hidden;
  transform: rotateX(-15deg) rotateY(-15deg);
}

box {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 62px;
  text-align: center;
  line-height: 5;
  overflow: hidden;
}

box:after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  z-index: 0;
  box-shadow: inset 0 0 60px -10px #333333;
}

box img {
  position: relative;
  display: block;
}

box.back {
  transform: rotateY(180deg) translateZ(150px);
}

box.bottom {
  height: 150px;
  transform: rotateX(-90deg) translateZ(25px) translateY(75px);
}

box.top {
  height: 150px;
  transform: rotateX(90deg) translateZ(75px) translateY(-75px);
}

box.left {
  width: 150px;
  transform: rotateY(-90deg) translateZ(75px) translateX(-75px);
}

box.right {
  width: 150px;
  transform: rotateY(90deg) translateZ(25px) translateX(75px);
}

#order-container {
  width: 100%;
  position: relative;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#order-container .order-item {
  width: 300px;
  height: 300px;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 5px 20px -8px #333333;
  border-radius: 4px;
  margin: 20px;
  display: inline-flex;
  flex-direction: column;
  padding-top: 50px;
  justify-content: space-between;
}

#order-container .order-item > div {
  order: 0;
  padding: 0 20px;
}

#order-container .order-item > div span {
  float: right;
  width: 50%;
}

#order-container .order-item .order-number {
  font-size: 32px;
  position: absolute;
  font-weight: 800;
  color: #0086fc;
  top: -10px;
  left: -15px;
  text-shadow: 2px 2px 15px #aaaaaa;
}

#order-container .order-item .order-summary {
  border: none;
  background: none;
  cursor: pointer;
  padding: 7px 0;
  font-weight: 800;
  text-transform: uppercase;
  order: 2;
  outline: none;
  width: 50%;
}

#order-container .order-item .delete-order {
  border: none;
  background: none;
  background-color: red;
  position: absolute;
  width: 27px;
  font-size: 20px;
  top: 0;
  right: 0;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

#order-container .order-item .order-total {
  order: 1;
}

#order-container .order-item .order-status {
  order: 1;
}

#order-container .order-item .order-status span {
  padding: 3px 10px;
  color: #ffffff;
  font-weight: 600;
}

#order-container #summary-container {
  position: absolute;
  width: 400px;
  top: 50%;
  z-index: 5;
  box-shadow: 0px 2px 20px -8px #000000;
}

#order-container #summary-container .box-summary {
  background-color: #ffffff;
  padding: 20px;
}

#order-container #summary-container .box-summary div {
  margin: 15px 0;
}

#order-container #summary-container .box-summary span {
  font-weight: 600;
}

#order-container #summary-container .box-summary ul {
  list-style-type: none;
}

#order-container #summary-container .box-summary ul li {
  padding-left: 15px;
}

#order-container #summary-container .box-summary .close-summary {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: none;
  padding: 4px 15px;
  font-size: 14px;
  font-weight: 600;
  background-color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.deliver {
  border: none;
  background: none;
  background-color: #7bb501;
  position: absolute;
  padding: 7px 0;
  width: 50%;
  bottom: 0;
  right: 0;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 800;
  cursor: pointer;
  outline: none;
}

#user-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

#user-container .user-item {
  width: 300px;
  height: 150px;
  box-shadow: 0px 3px 15px -3px #333333;
  position: relative;
  margin: 20px;
  padding: 20px;
}

#user-container .user-item span {
  font-weight: 700;
}

#user-container .user-item .status {
  background: none;
  border: none;
  margin: 0 auto;
  width: 150px;
  padding: 5px 0;
  display: block;
  margin-top: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1.5px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px -3px #333333;
  cursor: pointer;
}

@keyframes nobox {
  0% {
    transform: none;
  }
  100% {
    transform: rotateX(-30deg) rotateY(95deg);
  }
}

@keyframes openbox {
  from {
    transform: rotateX(90deg) translateY(-100%) rotateY(0deg);
  }
  to {
    transform: rotateX(90deg) translateY(-100%) rotateY(200deg);
  }
}

@keyframes showmessage {
  from {
    opacity: 0;
    transform: translateY(0) scale(0.2);
  }
  to {
    opacity: 1;
    transform: translateY(-250px) scale(1);
  }
}

@keyframes big {
  15% {
    transform: scale(0.7);
  }
  35% {
    transform: scale(0.7);
  }
  70% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(1.8);
  }
}
