/*
*
** MEDIA QUERY Tablet & Desktop
*
*/



@media only screen and (min-width: 481px) and (max-width: 1023px){
  .text-container .text-wrapper p {
    font-size: 24px;
  }
  .box-container > div img {
    width: 50%;
  }
  .box-container > div {
    margin-bottom: 100px;
    
  }
  
  .box-container .box-name {
    margin-top: 30px;
  }

  .box-container .box-description {
    text-align: center;
    margin: 0px;
    font-size: 24px;
  }

  #boxes {
    margin-bottom: 300px;
  }

  #how-to {
    padding-bottom: 50px;
  }
  .how {
    font-size: 56px;
  }
  .step .step-number {
    font-size: 65px;
  }
}

@media only screen and (min-width: 1024px) {
  #boxes  {
    max-width: 1200px;
    min-height: 200vh;
    position: relative;
    margin: 0 auto;
    margin-bottom: 500px;
  }

  #header-nav ul li {
    display: inline-block;
    margin: 0 20px;
  }
  #header-nav {
    height: 100%;
  }
  #header-nav ul {
    text-align: left;
    width: auto !important;
  }

  #boxes {
    max-width: 1200px;
    min-height: 200vh;
    margin-bottom: 500px;
  }
  .box-container {
    max-width: 1200px;
    height: 800px;
    position: fixed;
  }
  .box-container > div {
    position: absolute;
    width: 350px;
  }
  .box-container .box1 {
    top: 0;
    left: 35%;
  }

  .box-container .box1 img {
      width: 280px ; 
  }

  .box-container .box2{
    top: 10%;
    left: 20%;
  }

  .box-container .box2 img {
      width: 220px;
  }

  .box-container .box3{
    top: 15%;
    left: 0;
  }

  .box-container .box3  img {
      width: 350px ;
  }
  .box-container img {
    margin: 0 !important;
  }
  .text-container {
    max-width: 800px;
    position: absolute;
    text-align: left;
  }
  .text-container .box-description {
    font-size: 2.2vh !important; 
    text-align: left
  }
   .text-container h1 {
    text-align: left !important;
  }

  .text-container p {
    width: 100%;
    text-align: left !important;
  }
  .box-type {
    opacity: 0;
  }
  .box2 > img {
    margin: 0 auto !important;
  }

  .bar {
    display: initial;
  }

  #how-to {
    height: 150vh;
    border-radius: 55% 55% 0 0;
  }

  .how {
    font-size: 62px;
  }
  .step {
    height: 400px;
    flex-wrap: nowrap;
  }
  .step .step-number {
    font-size: 84px;
    left: -25px;
  }
  .step .step-two {
    left: auto;
    right: -25px;
  }
  .step .step-description {
    width: 50%;
    height: 80%;
    margin: 20px;
    padding: 20px;
  }

  .step img {
    width: 50%;
    border-radius: 50px;
  }
  .how-second {
    flex-direction: row;
  }
  .step span > img {
    display: initial;
  }

  #register {
    border-radius: 0;
  }
  #register input {
    display: initial;
  }

  .robot {
    display: flex;
  }

  footer {
    flex-direction: row;
    padding: 0 30px;
  }

  .footer-address, .social-media {
    width: 30%;
    border-radius: 10px;
    margin-bottom: 125px;
  }
  .footer-address h2, .footer-address p {
    width: 100%;
    
  }

  .footer-nav  {
    max-width: 800px;
    position: absolute;
  }

  .footer-nav li {
    display: inline-block !important;
    margin: 0 30px !important;
  }
} /***End of CSS Desktop Version*/
