*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

html {
  font-family: 'Work Sans', sans-serif;
  background-color: #0F82FD;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}